@page "/"
@inject CatalogService CatalogService
@attribute [StreamRendering]

<PageTitle>Booky | Home</PageTitle>

<div class="page">
    <div class="container mx-auto">
        <Hero/>
        @if(Books is null)
        {
            <Loader/>
        }
        else if(Books.Length <= 0)
        {
            <p>There are no book</p>
        }
        else
        {
            <h1 class="text-4xl mb-5">Check out our books list</h1>
            <div class="flex gap-5 flex-wrap">
                @foreach(var book in Books)
                {
                    <BookCard Book="@book" />
                }
            </div>
            <a class="mt-10 link" href="/books">See all</a>
        }
    </div>
</div>

@code{
    private BookDto[]? Books { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Books = await CatalogService.GetAllBooksAsync([]);
    }
}
