@page "/"
@inject CatalogService CatalogService
@attribute [StreamRendering]

<PageTitle>Booky | Home</PageTitle>

<section class="section bg-blue-50 section">
    <div class="container mx-auto">
        <Hero/>
    </div>
</section>

@if(Books is null)
{
    <Loader/>
}

<section class="section page">
    <div class="container mx-auto">
        @if(Books is not null && Books.Length <= 0)
        {
            <p>There are no book</p>
        }
        else if(Books is not null && Books.Length > 0)
        {
            <div class="flex justify-between items-center mb-5">
                <h1 class="text-2xl md:text-4xl title">Check out our books list</h1>
                <a class="link" href="/books">See all</a>
            </div>
            <div class="flex gap-5 flex-wrap">
                @foreach(var book in Books)
                {
                    <BookCard Book="@book" />
                }
            </div>
        }
    </div>
</section>

@code{
    private BookDto[]? Books { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Books = await CatalogService.GetBooksAsync(null, []);
    }
}
