@page "/login"
@inject IdentityService IdentityService

<div class="page">
    <div class="container">
        <EditForm FormName="login-form">
            <AntiforgeryToken />
            <InputText title="email"/>

        </EditForm>
    </div>
</div>
