<a class="flex flex-col gap-2 w-[200px] group" href="/book/@Book.Slug">
    <div class="w-full h-[300px] cursor-pointer overflow-hidden">
        <img class="w-full h-full group-hover:scale-110 transition-all" src="@Book.CoverImage" alt="@Book.Title">
    </div>
    <p class="min-h-12">@Book.Title</p>
    <p>$ @Book.Price</p>
</a>

@code{
    [Parameter]
    public required BookDto Book { get; set; }
}
