<div class="flex flex-col gap-2 w-[200px]">
    <img class="w-full h-[300px]" src="@Book.CoverImage" alt="@Book.Title">
    <p class="min-h-12">@Book.Title</p>
    <p>$ @Book.Price</p>
</div>

@code{
    [Parameter]
    public required BookDto Book { get; set; }
}
