<div class="relative pt-10 flex flex-col md:flex-row h-[100svh] md:h-[500px] gap-1 overflow-hidden bg-[url(/assets/banner.png)] bg-cover bg-no-repeat">
    <div class="absolute top-0 left-0 w-full h-full bg-[#00000042] z-0"></div>
    <div class="flex items-center container mx-auto text-white">
        @* Trending new books *@
        <div class="z-10">
            <h1 class="text-4xl md:text-6xl mb-2">Page-Turning Possibilities</h1>
            <p class="mb-8 text-2xl md:text-3xl">
                Explore, Buy, and Dive into the Unlimited Universe of Books
            </p>
            <a href="/books" class="p-4 bg-blue-500 hover:bg-blue-600 transition-all">Browse now</a>
        </div>
    </div>
</div>
