@tailwind base;
@tailwind components;
@tailwind utilities;

.page{
    @apply p-16 md:pt-28;
}

.link{
    @apply underline text-blue-600 hover:text-blue-500 transition-all cursor-pointer;
}

#hamburger{
    .expanded{
        display: none;
    }
    .collapsed{
        display: block;
    }
}

#hamburger.active{
    .collapsed{
        display: none;
    }
    .expanded{
        display: block;
    }
}
