@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
    @apply p-20 md:pt-32;
}

.link {
    @apply underline text-blue-600 hover:text-blue-500 transition-all cursor-pointer;
}

.nav{
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(0.5rem);
}

#hamburger {
    .expanded {
        display: none;
    }

    .collapsed {
        display: block;
    }
}

.book-details {
    max-height: calc(100svh - 200px);
}

#hamburger.active {
    .collapsed {
        display: none;
    }

    .expanded {
        display: block;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-wrapper {
    @apply w-full h-full fixed top-0 left-0 bg-[#00000036] grid place-items-center;
}

.loader {
    @apply border-t-8 border-[#e3e3e3] border-t-blue-500 border-solid w-[140px] h-[140px] rounded-full;
    animation: spin 1s linear infinite;
}

.tag{
    @apply rounded-[10px] p-1 bg-blue-200 text-blue-700 text-xs;
    @apply hover:text-blue-500 transition-all;
}

.tag-selector.active a{
    @apply bg-blue-500 text-white hover:bg-blue-600;
}

.tag-selector a .close-icon{
    @apply hidden;
}

.tag-selector.active a .close-icon{
    @apply inline;
}
