@tailwind base;
@tailwind components;
@tailwind utilities;

.page{
    @apply p-14 md:pt-24;
}

#hamburger{
    .expanded{
        display: none;
    }
    .collapsed{
        display: block;
    }
}

#hamburger.active{
    .collapsed{
        display: none;
    }
    .expanded{
        display: block;
    }
}
